/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

.gridElement {
	border: 1px solid grey;
	width: 30%;
	margin-top: -1px;
    margin-left: -1px;
}

.blackBackground {
	background-color: #000;
	color: #fff;
}

#container {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    max-width: 66%;
    margin: auto;
}