/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

#reset {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.gridElement {
  border: 1px solid #eee;
  margin-top: -1px;
  margin-left: -1px;
}

.blackBackground {
  background-color: #000;
  border: 1px solid #111;
}

#container {
  display: grid;
  grid-template : repeat(10, 1fr) / repeat(10, 1fr);
  align-items: stretch;
  justify-items: stretch;
  align-content: stretch;
  justify-content: stretch;
  width: 300px;
  height: 300px;
  margin: auto;
}